<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="taskConfiguration" type="TaskEx.Configuration.TaskSpecificationSection, TaskEx"/>
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="MasterConfigurationStore" connectionString="Server=localhost;Uid=ewm_dba;password=C0st@R1c@D3vT3@m!;database=TipoCambioCR" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <taskConfiguration>
    <specifications>
      <specification name="test">
        <tasks>
          <task name="ConsoleTask" taskQualifiedName="TaskEx.Library.WriteToConsole, TaskEx.Library"></task>
        </tasks>
      </specification>
    </specifications>
  </taskConfiguration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>